[Unit]
Description=prometheus-fronius-exporter
After=multi-user.target

[Service]
Environment=PROGRAMNAME=prometheus-fronius-exporter
Type=simple
Restart=always
SyslogIdentifier=prometheus-fronius-exporter
ExecStart=bash -c "exec -a ${PROGRAMNAME} python3 /usr/local/bin/prometheus-fronius-exporter --listen ':9116' --config='/etc/prometheus/fronius-exporter.conf'"

[Install]
WantedBy=multi-user.target
