[Unit]
Description=prometheus-keenetik-api-exporter
After=multi-user.target

[Service]
Type=simple
Restart=always
Environment=PROGRAMNAME=prometheus-keenetic-api-exporter
ExecStart=bash -c "exec -a ${PROGRAMNAME} python3 /usr/local/bin/prometheus-keenetic-api-exporter --listen ':9117' --config='/etc/prometheus/prometheus-keenetic-api-exporter.conf'"

[Install]
WantedBy=multi-user.target
